#File Opening

In [31]:
import pandas as pd
bio = pd.read_csv(r"C:\Users\123\Music\imdb_fantasy.csv")
print(bio.info())
bio.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     527 non-null    object
 1   Rating    527 non-null    object
 2   Votes     527 non-null    object
 3   Duration  527 non-null    object
 4   Genre     527 non-null    object
dtypes: object(5)
memory usage: 20.7+ KB
None

(527, 5)

To find number of not available

In [32]:
print(bio.apply(lambda col: col.str.contains('Not Available', case=False, na=False).sum()))

Title         0
Rating      186
Votes       186
Duration    115
Genre         0
dtype: int64

Find and deleting the common NaN types

In [33]:
bio[(bio["Votes"]=="Not Available") & (bio["Duration"]=="Not Available")].shape[0]

88

In [34]:
bio.drop(bio[(bio["Votes"]=="Not Available") & (bio["Duration"]=="Not Available")].index,inplace=True)
bio.shape[0]

439

In [35]:
bio = bio.reset_index(drop = True)
print(len(bio))

439

Not availabe to 0 value

In [36]:
bio['Rating'] = bio['Rating'].str.replace('Not Available','0',regex = False)
bio['Votes'] = bio['Votes'].str.replace('Not Available','0',regex = False)
bio['Duration'] = bio['Duration'].str.replace('Not Available','0',regex = False)

In [37]:
bio.shape[0]

439

Cleaning - Votes (str, decimal assignment)

In [38]:
bio['Votes'] = bio['Votes'].astype(str).str.replace('(','',regex = False)
bio['Votes'] = bio['Votes'].astype(str).str.replace(')','',regex = False)
bio['Votes'] = bio['Votes'].astype(str).str.replace('K','000',regex = False)

In [39]:
def shift_decimal(x):
    if '.' in x:
        return str(float(x) * 1000).rstrip('0').rstrip('.')  # Remove trailing zeros
    return x

# Apply the function
bio['Votes'] = bio['Votes'].astype(str).apply(shift_decimal)

print(bio)

                                                Title Rating    Votes  \
0                                          1. Moana 2    6.7    87000
1                                             2. Flow    7.9    58000
2                                        3. Nosferatu    7.3   178000
3                                           4. Wicked    7.5   141000
4                             5. Sonic the Hedgehog 3    6.9    52000
..                                                ...    ...      ...
434  519. Incident at Panther Hills: Bigfoot's Return      0        0
435                                521. Steve's World      0        0
436                                 522. A Grey Night      0        0
437                          525. NJPW SMP: The Movie      0        0
438                           527. Legend of the Dead      0        0

    Duration    Genre
0     1h 40m  Fantasy
1     1h 25m  Fantasy
2     2h 12m  Fantasy
3     2h 40m  Fantasy
4     1h 50m  Fantasy
..       ...      ...
434      58m  Fantasy
435      55m  Fantasy
436      56m  Fantasy
437      50m  Fantasy
438   1h 14m  Fantasy

[439 rows x 5 columns]

Duration to minutes

In [40]:
bio['Duration'] = bio['Duration'].astype(str).fillna('0h 0m')
bio['Duration'] = pd.to_timedelta(bio['Duration'].str.replace('h', ' hours ').str.replace('m', ' minutes'), errors='coerce').dt.total_seconds() / 60
bio['Duration'].fillna(0, inplace=True)
print(bio['Duration'])

0      100.0
1       85.0
2      132.0
3      160.0
4      110.0
       ...
434     58.0
435     55.0
436     56.0
437     50.0
438     74.0
Name: Duration, Length: 439, dtype: float64

C:\Users\123\AppData\Local\Temp\ipykernel_17740\786350388.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bio['Duration'].fillna(0, inplace=True)

In [41]:
bio["Duration"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 439 entries, 0 to 438
Series name: Duration
Non-Null Count  Dtype
--------------  -----
439 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB

Removing serial number in title

In [42]:
bio['Title'] = bio['Title'].str.replace(r'^\d+\.\s*', '', regex=True)

In [43]:
display(bio["Title"])

0                                          Moana 2
1                                             Flow
2                                        Nosferatu
3                                           Wicked
4                             Sonic the Hedgehog 3
                          ...
434    Incident at Panther Hills: Bigfoot's Return
435                                  Steve's World
436                                   A Grey Night
437                            NJPW SMP: The Movie
438                             Legend of the Dead
Name: Title, Length: 439, dtype: object


Converting NaN type to zero

In [44]:
bio.fillna(0,inplace=True)
display(bio)

,Title,Rating,Votes,Duration,Genre
0,Moana 2,6.7,87000,100.0,Fantasy
1,Flow,7.9,58000,85.0,Fantasy
2,Nosferatu,7.3,178000,132.0,Fantasy
3,Wicked,7.5,141000,160.0,Fantasy
4,Sonic the Hedgehog 3,6.9,52000,110.0,Fantasy
...,...,...,...,...,...
434,Incident at Panther Hills: Bigfoot's Return,0,0,58.0,Fantasy
435,Steve's World,0,0,55.0,Fantasy
436,A Grey Night,0,0,56.0,Fantasy
437,NJPW SMP: The Movie,0,0,50.0,Fantasy
438,Legend of the Dead,0,0,74.0,Fantasy

In [45]:
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     439 non-null    object
 1   Rating    439 non-null    object
 2   Votes     439 non-null    object
 3   Duration  439 non-null    float64
 4   Genre     439 non-null    object
dtypes: float64(1), object(4)
memory usage: 17.3+ KB

Changing the datatype

In [46]:
bio["Title"] = bio["Title"].astype(str)
bio["Rating"] = bio["Rating"].astype(float)
bio["Votes"] = bio["Votes"].astype(int)
bio["Genre"] = bio["Genre"].astype(str)

to csv

In [53]:
bio.to_csv("imdb_Fantasy(C)",index = False)

TO SQL

see the number of table in .db

In [51]:
import sqlite3

conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:", tables)

conn.close()

Tables in the database: [('imdb_biography(C)',), ('imdb_adventure(C)',), ('imdb_Fantasy(C)',)]

In [50]:
import sqlite3
conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

bio.to_sql('imdb_Fantasy(C)', conn, if_exists='replace', index=False)

print("uploaded")

uploaded

In [56]:
# Read the CSV into a DataFrame
df = pd.read_csv(r"C:\Users\123\Music\imdb_adventure(C).csv")

# Upload the data to SQL
df.to_sql('imdb_adventure(C)', conn, if_exists='replace', index=False)

print("CSV uploaded to SQL successfully!")

CSV uploaded to SQL successfully!

In [52]:
conn.commit
conn.close()