#File Opening

In [21]:
import pandas as pd
sci = pd.read_csv(r"C:\Users\123\Music\imdb_Scifi.csv")
print(sci.info())
sci.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     602 non-null    object
 1   Rating    602 non-null    object
 2   Votes     602 non-null    object
 3   Duration  602 non-null    object
 4   Genre     602 non-null    object
dtypes: object(5)
memory usage: 23.6+ KB
None

(602, 5)

To find number of not available

In [ ]:
print(sci.apply(lambda col: col.str.contains('Not Available', case=False, na=False).sum()))

Find and deleting the common NaN types

In [23]:
sci[(sci["Votes"]=="Not Available") & (sci["Duration"]=="Not Available")].shape[0]

82

In [24]:
sci.drop(sci[(sci["Votes"]=="Not Available") & (sci["Duration"]=="Not Available")].index,inplace=True)
sci.shape[0]

520

In [25]:
sci = sci.reset_index(drop = True)
print(len(sci))

520

Not availabe to 0 value

In [26]:
sci['Rating'] = sci['Rating'].str.replace('Not Available','0',regex = False)
sci['Votes'] = sci['Votes'].str.replace('Not Available','0',regex = False)
sci['Duration'] = sci['Duration'].str.replace('Not Available','0',regex = False)

In [27]:
sci.shape[0]

520

Cleaning - Votes (str, decimal assignment)

In [28]:
sci['Votes'] = sci['Votes'].astype(str).str.replace('(','',regex = False)
sci['Votes'] = sci['Votes'].astype(str).str.replace(')','',regex = False)
sci['Votes'] = sci['Votes'].astype(str).str.replace('K','000',regex = False)

In [29]:
def shift_decimal(x):
    if '.' in x:
        return str(float(x) * 1000).rstrip('0').rstrip('.')  # Remove trailing zeros
    return x

# Apply the function
sci['Votes'] = sci['Votes'].astype(str).apply(shift_decimal)

print(sci)

                        Title Rating    Votes Duration            Genre
0            1. The Substance    7.3   279000   2h 21m  Science fiction
1     2. Sonic the Hedgehog 3    6.9    52000   1h 50m  Science fiction
2    3. Venom: The Last Dance    6.0   107000   1h 50m  Science fiction
3           4. The Wild Robot    8.2   152000   1h 42m  Science fiction
4           5. Dune: Part Two    8.5   612000   2h 46m  Science fiction
..                        ...    ...      ...      ...              ...
515              595. Worship      0        0   1h 15m  Science fiction
516            597. Parhelion      0        0   1h 30m  Science fiction
517              598. Plastic      0        0    1h 2m  Science fiction
518           601. Recall 126      0        0      53m  Science fiction
519         602. the time arc      0        0   1h 18m  Science fiction

[520 rows x 5 columns]

Duration to minutes

In [30]:
sci['Duration'] = sci['Duration'].astype(str).fillna('0h 0m')
sci['Duration'] = pd.to_timedelta(sci['Duration'].str.replace('h', ' hours ').str.replace('m', ' minutes'), errors='coerce').dt.total_seconds() / 60
sci['Duration'].fillna(0, inplace=True)
print(sci['Duration'])

0      141.0
1      110.0
2      110.0
3      102.0
4      166.0
       ...
515     75.0
516     90.0
517     62.0
518     53.0
519     78.0
Name: Duration, Length: 520, dtype: float64

C:\Users\123\AppData\Local\Temp\ipykernel_6468\3930175918.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sci['Duration'].fillna(0, inplace=True)

In [31]:
sci["Duration"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 520 entries, 0 to 519
Series name: Duration
Non-Null Count  Dtype
--------------  -----
520 non-null    float64
dtypes: float64(1)
memory usage: 4.2 KB

Removing serial number in title

In [32]:
sci['Title'] = sci['Title'].str.replace(r'^\d+\.\s*', '', regex=True)

In [33]:
display(sci["Title"])

0              The Substance
1       Sonic the Hedgehog 3
2      Venom: The Last Dance
3             The Wild Robot
4             Dune: Part Two
               ...
515                  Worship
516                Parhelion
517                  Plastic
518               Recall 126
519             the time arc
Name: Title, Length: 520, dtype: object


Converting NaN type to zero

In [34]:
sci.fillna(0,inplace=True)
display(sci)

                     Title Rating    Votes  Duration            Genre
0            The Substance    7.3   279000     141.0  Science fiction
1     Sonic the Hedgehog 3    6.9    52000     110.0  Science fiction
2    Venom: The Last Dance    6.0   107000     110.0  Science fiction
3           The Wild Robot    8.2   152000     102.0  Science fiction
4           Dune: Part Two    8.5   612000     166.0  Science fiction
..                     ...    ...      ...       ...              ...
515                Worship      0        0      75.0  Science fiction
516              Parhelion      0        0      90.0  Science fiction
517                Plastic      0        0      62.0  Science fiction
518             Recall 126      0        0      53.0  Science fiction
519           the time arc      0        0      78.0  Science fiction

[520 rows x 5 columns]

In [35]:
sci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     520 non-null    object
 1   Rating    520 non-null    object
 2   Votes     520 non-null    object
 3   Duration  520 non-null    float64
 4   Genre     520 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.4+ KB

Changing the datatype

In [36]:
sci["Title"] = sci["Title"].astype(str)
sci["Rating"] = sci["Rating"].astype(float)
sci["Votes"] = sci["Votes"].astype(int)
sci["Genre"] = sci["Genre"].astype(str)

to csv

In [37]:
sci.to_csv("imdb_Scifi(C)",index = False)

TO SQL

see the number of table in .db

In [38]:
import sqlite3

conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:", tables)

conn.close()

Tables in the database: [('imdb_adventure(C)',), ('imdb_Fantasy(C)',), ('imdb_biography(C)',), ('imdb_Romance(C)',), ('imdb_Scifi(C)',)]

In [39]:
import sqlite3
conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

sci.to_sql('imdb_Scifi(C)', conn, if_exists='replace', index=False)

print("uploaded")

uploaded

In [40]:
conn.commit
conn.close()