#File Opening

In [1]:
import pandas as pd
bio = pd.read_csv(r"C:\Users\123\Music\imdb_biography.csv")
print(bio.info())
bio.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     461 non-null    object
 1   Rating    461 non-null    object
 2   Votes     461 non-null    object
 3   Duration  461 non-null    object
 4   Genre     461 non-null    object
dtypes: object(5)
memory usage: 18.1+ KB
None

(461, 5)

To find number of not available

In [35]:
print(bio.apply(lambda col: col.str.contains('Not Available', case=False, na=False).sum()))

Title         0
Rating      179
Votes       179
Duration     82
Genre         0
dtype: int64

Find and deleting the common NaN types

In [2]:
bio[(bio["Votes"]=="Not Available") & (bio["Duration"]=="Not Available")].shape[0]

60

In [3]:
bio.drop(bio[(bio["Votes"]=="Not Available") & (bio["Duration"]=="Not Available")].index,inplace=True)
bio.shape[0]

401

In [4]:
bio = bio.reset_index(drop = True)
print(len(bio))

401

Not availabe to 0 value

In [5]:
bio['Rating'] = bio['Rating'].str.replace('Not Available','0',regex = False)
bio['Votes'] = bio['Votes'].str.replace('Not Available','0',regex = False)
bio['Duration'] = bio['Duration'].str.replace('Not Available','0',regex = False)

In [6]:
bio.shape[0]

401

Cleaning - Votes (str, decimal assignment)

In [7]:
bio['Votes'] = bio['Votes'].astype(str).str.replace('(','',regex = False)
bio['Votes'] = bio['Votes'].astype(str).str.replace(')','',regex = False)
bio['Votes'] = bio['Votes'].astype(str).str.replace('K','000',regex = False)

In [8]:
def shift_decimal(x):
    if '.' in x:
        return str(float(x) * 1000).rstrip('0').rstrip('.')  # Remove trailing zeros
    return x

# Apply the function
bio['Votes'] = bio['Votes'].astype(str).apply(shift_decimal)

print(bio)

                                                 Title Rating   Votes  \
0                                1. A Complete Unknown    7.4   59000
1                                    2. I'm Still Here    8.4   94000
2                                 3. Queen of the Ring    7.0     777
3                                    4. The Apprentice    7.1   50000
4                                      5. William Tell    5.8    1700
..                                                 ...    ...     ...
396        456. Mera naam ullhas hai part 2 (bachelor)      0       0
397             457. The Life and Death of Orson Greer      0       0
398                               459. Maçãs no Escuro      0       0
399      460. Anssi Mänttäri - Suomielokuvan kummisetä      0       0
400  461. Jaime Isidoro: divulgador, colecionador, ...      0       0

      Duration      Genre
0       2h 21m  Biography
1       2h 17m  Biography
2       2h 20m  Biography
3        2h 2m  Biography
4       2h 13m  Biography
..         ...        ...
396         1h  Biography
397  Not Rated  Biography
398     1h 48m  Biography
399     1h 53m  Biography
400     1h 20m  Biography

[401 rows x 5 columns]

Duration to minutes

In [9]:
bio['Duration'] = bio['Duration'].astype(str).fillna('0h 0m')
bio['Duration'] = pd.to_timedelta(bio['Duration'].str.replace('h', ' hours ').str.replace('m', ' minutes'), errors='coerce').dt.total_seconds() / 60
bio['Duration'].fillna(0, inplace=True)
print(bio['Duration'])

0      141.0
1      137.0
2      140.0
3      122.0
4      133.0
       ...
396     60.0
397      0.0
398    108.0
399    113.0
400     80.0
Name: Duration, Length: 401, dtype: float64

C:\Users\123\AppData\Local\Temp\ipykernel_10988\786350388.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bio['Duration'].fillna(0, inplace=True)

In [10]:
bio["Duration"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 401 entries, 0 to 400
Series name: Duration
Non-Null Count  Dtype
--------------  -----
401 non-null    float64
dtypes: float64(1)
memory usage: 3.3 KB

Removing serial number in title

In [11]:
bio['Title'] = bio['Title'].str.replace(r'^\d+\.\s*', '', regex=True)

In [12]:
display(bio["Title"])

0                                    A Complete Unknown
1                                        I'm Still Here
2                                     Queen of the Ring
3                                        The Apprentice
4                                          William Tell
                             ...
396              Mera naam ullhas hai part 2 (bachelor)
397                   The Life and Death of Orson Greer
398                                     Maçãs no Escuro
399            Anssi Mänttäri - Suomielokuvan kummisetä
400    Jaime Isidoro: divulgador, colecionador, artista
Name: Title, Length: 401, dtype: object


Converting NaN type to zero

In [13]:
bio.fillna(0,inplace=True)
display(bio)

,Title,Rating,Votes,Duration,Genre
0,A Complete Unknown,7.4,59000,141.0,Biography
1,I'm Still Here,8.4,94000,137.0,Biography
2,Queen of the Ring,7.0,777,140.0,Biography
3,The Apprentice,7.1,50000,122.0,Biography
4,William Tell,5.8,1700,133.0,Biography
...,...,...,...,...,...
396,Mera naam ullhas hai part 2 (bachelor),0,0,60.0,Biography
397,The Life and Death of Orson Greer,0,0,0.0,Biography
398,Maçãs no Escuro,0,0,108.0,Biography
399,Anssi Mänttäri - Suomielokuvan kummisetä,0,0,113.0,Biography
400,"Jaime Isidoro: divulgador, colecionador, artista",0,0,80.0,Biography

In [14]:
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     401 non-null    object
 1   Rating    401 non-null    object
 2   Votes     401 non-null    object
 3   Duration  401 non-null    float64
 4   Genre     401 non-null    object
dtypes: float64(1), object(4)
memory usage: 15.8+ KB

Changing the datatype

In [15]:
bio["Title"] = bio["Title"].astype(str)
bio["Rating"] = bio["Rating"].astype(float)
bio["Votes"] = bio["Votes"].astype(int)
bio["Genre"] = bio["Genre"].astype(str)

to csv

In [16]:
bio.to_csv("imdb_biography(C)",index = False)

TO SQL

see the number of table in .db

In [17]:
import sqlite3

conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:", tables)

conn.close()

Tables in the database: [('imdb_biography(C)',), ('imdb_adventure(C)',), ('imdb_Fantasy(C)',)]

In [18]:
import sqlite3
conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

bio.to_sql('imdb_biography(C)', conn, if_exists='replace', index=False)

print("uploaded")

uploaded

In [19]:
conn.commit
conn.close()