#File Opening

In [2]:
import pandas as pd
rom = pd.read_csv(r"C:\Users\123\Music\imdb_Romance.csv")
print(rom.info())
rom.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     1050 non-null   object
 1   Rating    1050 non-null   object
 2   Votes     1050 non-null   object
 3   Duration  1050 non-null   object
 4   Genre     1050 non-null   object
dtypes: object(5)
memory usage: 41.1+ KB
None

(1050, 5)

To find number of not available

In [3]:
print(rom.apply(lambda col: col.str.contains('Not Available', case=False, na=False).sum()))

Title         0
Rating      291
Votes       291
Duration    176
Genre         0
dtype: int64

Find and deleting the common NaN types

In [4]:
rom[(rom["Votes"]=="Not Available") & (rom["Duration"]=="Not Available")].shape[0]

99

In [5]:
rom.drop(rom[(rom["Votes"]=="Not Available") & (rom["Duration"]=="Not Available")].index,inplace=True)
rom.shape[0]

951

In [6]:
rom = rom.reset_index(drop = True)
print(len(rom))

951

Not availabe to 0 value

In [7]:
rom['Rating'] = rom['Rating'].str.replace('Not Available','0',regex = False)
rom['Votes'] = rom['Votes'].str.replace('Not Available','0',regex = False)
rom['Duration'] = rom['Duration'].str.replace('Not Available','0',regex = False)

In [8]:
rom.shape[0]

951

Cleaning - Votes (str, decimal assignment)

In [9]:
rom['Votes'] = rom['Votes'].astype(str).str.replace('(','',regex = False)
rom['Votes'] = rom['Votes'].astype(str).str.replace(')','',regex = False)
rom['Votes'] = rom['Votes'].astype(str).str.replace('K','000',regex = False)

In [10]:
def shift_decimal(x):
    if '.' in x:
        return str(float(x) * 1000).rstrip('0').rstrip('.')  # Remove trailing zeros
    return x

# Apply the function
rom['Votes'] = rom['Votes'].astype(str).apply(shift_decimal)

print(rom)

                     Title Rating    Votes Duration    Genre
0                 1. Anora    7.6   150000   2h 19m  Romance
1                2. Wicked    7.5   141000   2h 40m  Romance
2              3. Babygirl    6.0    47000   1h 54m  Romance
3       4. It Ends with Us    6.4    81000   2h 10m  Romance
4       5. We Live in Time    7.0    48000   1h 48m  Romance
..                     ...    ...      ...      ...      ...
946  1043. A Ride for Love      0        0   1h 33m  Romance
947            1044. Extra    7.0       12      28m  Romance
948      1045. Mr. Goodman      0        0   1h 50m  Romance
949     1047. Unusual Love      0        0   1h 39m  Romance
950    1048. Second Chance      0        0       1h  Romance

[951 rows x 5 columns]

Duration to minutes

In [11]:
rom['Duration'] = rom['Duration'].astype(str).fillna('0h 0m')
rom['Duration'] = pd.to_timedelta(rom['Duration'].str.replace('h', ' hours ').str.replace('m', ' minutes'), errors='coerce').dt.total_seconds() / 60
rom['Duration'].fillna(0, inplace=True)
print(rom['Duration'])

0      139.0
1      160.0
2      114.0
3      130.0
4      108.0
       ...
946     93.0
947     28.0
948    110.0
949     99.0
950     60.0
Name: Duration, Length: 951, dtype: float64

C:\Users\123\AppData\Local\Temp\ipykernel_6520\534755201.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rom['Duration'].fillna(0, inplace=True)

In [12]:
rom["Duration"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 951 entries, 0 to 950
Series name: Duration
Non-Null Count  Dtype
--------------  -----
951 non-null    float64
dtypes: float64(1)
memory usage: 7.6 KB

Removing serial number in title

In [13]:
rom['Title'] = rom['Title'].str.replace(r'^\d+\.\s*', '', regex=True)

In [14]:
display(rom["Title"])

0                Anora
1               Wicked
2             Babygirl
3      It Ends with Us
4      We Live in Time
            ...
946    A Ride for Love
947              Extra
948        Mr. Goodman
949       Unusual Love
950      Second Chance
Name: Title, Length: 951, dtype: object


Converting NaN type to zero

In [15]:
rom.fillna(0,inplace=True)
display(rom)

               Title Rating    Votes  Duration    Genre
0              Anora    7.6   150000     139.0  Romance
1             Wicked    7.5   141000     160.0  Romance
2           Babygirl    6.0    47000     114.0  Romance
3    It Ends with Us    6.4    81000     130.0  Romance
4    We Live in Time    7.0    48000     108.0  Romance
..               ...    ...      ...       ...      ...
946  A Ride for Love      0        0      93.0  Romance
947            Extra    7.0       12      28.0  Romance
948      Mr. Goodman      0        0     110.0  Romance
949     Unusual Love      0        0      99.0  Romance
950    Second Chance      0        0      60.0  Romance

[951 rows x 5 columns]

In [16]:
rom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     951 non-null    object
 1   Rating    951 non-null    object
 2   Votes     951 non-null    object
 3   Duration  951 non-null    float64
 4   Genre     951 non-null    object
dtypes: float64(1), object(4)
memory usage: 37.3+ KB

Changing the datatype

In [17]:
rom["Title"] = rom["Title"].astype(str)
rom["Rating"] = rom["Rating"].astype(float)
rom["Votes"] = rom["Votes"].astype(int)
rom["Genre"] = rom["Genre"].astype(str)

to csv

In [21]:
rom.to_csv("imdb_Romance(C)",index = False)

TO SQL

see the number of table in .db

In [24]:
import sqlite3

conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:", tables)

conn.close()

Tables in the database: [('imdb_adventure(C)',), ('imdb_Fantasy(C)',), ('imdb_biography(C)',), ('imdb_Romance(C)',)]

In [23]:
import sqlite3
conn = sqlite3.connect('imdb_SQL.db')
cursor = conn.cursor()

rom.to_sql('imdb_Romance(C)', conn, if_exists='replace', index=False)

print("uploaded")

uploaded

In [56]:
# Read the CSV into a DataFrame
df = pd.read_csv(r"C:\Users\123\Music\imdb_adventure(C).csv")

# Upload the data to SQL
df.to_sql('imdb_adventure(C)', conn, if_exists='replace', index=False)

print("CSV uploaded to SQL successfully!")

CSV uploaded to SQL successfully!

In [25]:
conn.commit
conn.close()